/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0px;
}

html{
	font-family: 'Inter', sans-serif;
	color: #171717;
	scroll-behavior: smooth;
	line-height: 1.2;
	overflow-x: hidden;
}


ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
button:hover{
	background-color: #fffd83;
	color: #0D3EBC;
	transition: 300ms;
}

button:focus{
	background-color: #fffff1;
	transition: 300ms;
}


section{
	width: 100%;
	min-height: 80px;
	position: relative;
}
.container{
	width: 1200px;
	margin: 0px auto;
	position: relative;
	height: 100%;
}

.lamp{
	position: absolute;
	z-index: -1;
}
#lamp1{
	width: 616px;
	top: 0;
	right: 0;
}
#lamp2{
	width: 594px;
	top: -190px;
	left: -16%;
}
#lamp3{
	width: 584px;
	right: -250px;
	bottom: -200px;
}
#lamp4{
	width: 100%;
	left: 0px;
	top: -35%;
}
/* .cursor{
	position: fixed;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, 0.162);
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 10ms;

}
.cursor2{
	position: fixed;
	width: 8px;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.182);
	background-size: cover;
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 200ms;
}
header:hover ~ .cursor2{
	width: 40px;
	height: 40px;
	background-color: rgba(0, 17, 255, 0.132);
}
 */

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}














/*-------------
 	Header
-------------*/

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	transition: all 0.5s;
}

.scroll{
	background-color: #ffffff;
}


.fade-in{
	padding: 0px 100px 0;
	background-color: #000000a8;
	transition: all 0.5s;
}



header p{
	float: right;
	margin-left: 10px;
}

.languages{
	display: flex;
	align-items: center;
	float: left;
	transition: 200ms;
	height: 78px;
	z-index: 10000;
}
.scroll-languages{
	margin-left: 66px;
	transition: 200ms;
	height: 78px;
}

.language{
	margin: 0px 5px;
	cursor: pointer;
	color: #858585;
	transition: all 200ms;
	z-index: 10000;
}

.language:hover{
	color: #171717;
	transition: all 200ms;
}

.active{
	color: #0041E9;
	font-weight: 500;
}

.active:hover{
	color: #0048ff;
}

nav{
	display: flex;
	align-items: center;
	position: relative;
	float: right;
	width: 740px;
	height: 78px;
	z-index: 10000;
}
/* .line{
	position: absolute;
	width: 0px;
	height: 0.5px;
	background-color: #171717;
	bottom: 30px;
	left: 0px;
	transition: 400ms;
}
.linePush1:hover ~ .line{
	width: 63px;
	transition: 400ms;
}
.linePush2:hover ~ .line{
	left: 103px;
	width: 77px;
	transition: 400ms;
}
.linePush3:hover ~ .line{
	left: 220px;
	width: 86px;
	transition: 400ms;
}
.linePush4:hover ~ .line{
	left: 346px;
	width: 61px;
	transition: 400ms;
}
.linePush5:hover ~ .line{
	left: 448px;
	width: 74px;
	transition: 400ms;
}
.linePush6:hover ~ .line{
	left: 563px;
	width: 45px;
	transition: 400ms;
} */

nav li{
	float: right;
	margin: 0 auto;
	font-size: 14px;
	color: #858585;
	border-bottom: 1px #17171700 solid;
	transition: 200ms;
}

nav li:hover{
	color: #171717;
	border-bottom: 1px #171717fa solid;
	transition: 200ms;
}
nav a:hover{
	color: #171717;
	transition: 200ms;
}

header nav li:first-child{
	margin-left: 0;	
	padding-left: 0;
}

header nav li:last-child{
	margin-right: 0;	
	padding-right: 0;
}
.linePush6{
	margin-right: 0;	
	padding-right: 0;
}





@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 1000px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

















/*----------------
 	Main Section
----------------*/

.main{
	position: relative;
	min-height: 100vh;
	letter-spacing: 1px;
	padding-top: 180px;
}

.main-title{
	width: 100%;
	height: 125px;
	padding-left: 114px;
}
.logo{
	position: absolute;
	height: 94px;
	width: 94px;
	transition: 500ms;
}
.scroll-logo{
	position: fixed;
	width: 42px;
	height: 42px;
	top: 18px;
	transition: 500ms;
	z-index: 1000;
}
.main-title a{
	float: right;
}
.main-title h1{
	font-family: 'Kharkiv Tone Regular', sans-serif;
	font-size: 75px;
	font-weight: 400;
	margin: 20px 0;
	padding: 0;
	min-width: 200px;
	float: left;
}


.ukraine{
	color: #0D3EBC;
}

.donate-block{
	float: right;
	margin-top: 35px;
}
.donate-button{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: none;
	padding: 15px 96px;
	border-radius: 24px;
	background-color: #0D3EBC;
	color: white;
	cursor: pointer;
	transition: 400ms;
	z-index: 100;
}
.donate{
	position: absolute;
	display: none;
	left: 215px;
	top: 22px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 10px;
	font-weight: 500;
	padding: 10px 55px;
	border-radius: 23px;
	background-color: #0042e900;
	color: #0D3EBC;
	border: 1px #0D3EBC solid;
	z-index: 10000;
	cursor: pointer;
}


.main hr{
	display: block;
	width: 100%;
	margin-top: 0px;
	border: 0px;
	border-bottom: 1px #858585 solid;
	opacity: 0.4;
}

.main-text{
	width: 100%;
	height: 162px;
	margin-top: 15px;
	letter-spacing: 0.1px;
}
.main-text span{
	font-size: 14px;
	margin-right: 28px;
	padding-bottom: 1px;
	border-bottom: 1px #464646fd solid;
	color: #464646;
	cursor: pointer;
	transition: all 150ms;
}
.main-text span:hover{
	font-size: 14px;
	margin-right: 28px;
	padding-bottom: 1px;
	border-bottom: 1px #46464600 solid;
	color: #858585;
	cursor: pointer;
	transition: all 150ms;
}
.main-text p{
	font-size: 16px;
	width: 330px;
	float: right;
	margin-right: 40px;
	color: #464646;
}
.main-photo{
	max-width: 100%;
	min-height: 557px;
	background-image: url(./assets/pexels-imprensa-agruban®-9432322\ 1.png);
	background-size: cover;
	background-position: center;
	color: #FBFBFB;
	padding: 29px 35px;
}
.main-photo h1{
	float: left;
	font-size: 40px;
	font-weight: 600;
}
.main-photo h3{
	float: left;
	font-size: 20px;
	font-weight: 600;
	margin-top: 18px;
}
.textContainer{
	width: 100%;
	height: 50px;
}
.main-photo p{
	font-size: 14px;
	font-weight: 600;
	width: 350px;
}
@media (max-width: 800px){

	.main{
		min-height: 600px;
	}

	.main h1{
		font-size: 48px;
	}

	.main h3{
		font-size: 24px;
	}


}

/*----------------
 	Ways Section
----------------*/

.ways{
	min-height: 1600px;
	height: fit-content;
	padding-top: 290px;
}

.container-title{
	width: 400px;
	height: 100%;
	float: left;
}
.container-title h1{
	font-family: 'Kharkiv Tone Regular', sans-serif;
	font-size: 30px;
	font-weight: 400;
}
.container-title h5{
	font-size: 14px;
	font-weight: 400;
	color: #464646;
	width: 348px;
	margin-top: 100px;
}
.container-content{
	width: 740px;
	height: 100%;
	position: relative;
	margin-left: 60px;
	float: left;
}
.container-content p{
	font-size: 18px;
}
.list{
	width: 100%;
	display: grid;
	grid-template-columns:  1fr 1fr;
	column-gap: 10px;
}
.list-item{
	margin-top: 89px;
	min-height: 340px;
}
.list-item-img{
	width: 365px;
	height: 260px;
	background-size: cover;
	background-position: center;
}
.list-item h3{
	font-family: 'Kharkiv Tone Regular', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-top: 15px;
	color: #0D3EBC;
}
.list-item p{
	font-size: 16px;
	font-weight: 400;
	margin-top: 5px;
	color: #858585;
}
.list-button{
	position: relative;
	transition: 400ms;
}

.ways-button{
	position: absolute;
	left: 57px;
	bottom: 79px;
	transition: 400ms;
}



/*----------------
 	About Section
----------------*/

.about{
	min-height: 900px;
	height: fit-content;
	padding-top: 190px;
}
.about-img{
	width: 100%;
	margin-top: 75px;
}
.documents{
	width: 100%;
	margin-top: 70px;
}
.document-text{
	float: left;
	width: 45%;
}
.documents h3{
	width: 299px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #858585;
	width: auto;
	float: left;
}
.documents img{
	width: 59px;
	height: 81px;
	display: block;
	cursor: pointer;
	float: left;
	margin-right: 50px;
}
.documents hr{
	width: 100%;
	border: 0px;
	border-bottom: 1px #858585 solid;
	opacity: 0.4;
	margin: 20px 0 0px 0;
	float: left;
}







/*----------------
 	Result Section
----------------*/

.result{
	padding-top: 290px;
}
.container-result{
	width: 100%;
	margin-top: 90px;
}
.container-result ul{
	width: 100%;
}
.container-result li{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 40px 0;
	font-size: 20px;
	border-bottom: 1px rgb(210, 210, 210) solid;
}

.container-result li:first-child{
	border-top: 1px rgb(210, 210, 210) solid;
}

.container-result p{
	font-family: 'Kharkiv Tone Regular', sans-serif;
	float: left;
	color: #858585;
}
.result-title{
	width: 340px;
	text-align: left;
}





/*----------------
 	Alerts Section
----------------*/

.alerts{
	padding-top: 190px;
}
.container-alert{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 60px;
}
.alert{
	margin-top: 70px;
}
.alert img{
	width: 570px;
}
.alert h3{
	font-family: 'Kharkiv Tone Regular', sans-serif;
	font-size: 20px;
	font-weight: 400;
	float: left;
	width: 300px;
	color: #0D3EBC;
	margin-top: 30px;
}
.alert h5{
	float: right;
	width: auto;
	font-size: 14px;
	font-weight: 400;
	color: #464646;
	margin-top: 30px;
}
.alert p{
	width: 100%;
	float: left;
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
}


/*----------------
 	Form Section
----------------*/


.form{
	padding-top: 190px;
	z-index: 1;
}

.form h1{
	font-family: 'Kharkiv Tone Regular', sans-serif;
	width: 100%;
	text-align: center;
	font-size: 75px;
	font-weight: 400;
}
.form h2{
	font-family: 'Kharkiv Tone Regular', sans-serif;
	float: right;
	text-align: left;
	font-size: 75px;
	font-weight: 400;
	width: 740px;
}
.form p{
	width: 740px;
	margin-top: 26px;
	float: right;
	font-size: 18px;
	font-weight: 400;
}
.form button{
	margin-top: 40px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: none;
	padding: 14px 75px;
	border-radius: 24px;
	border: 2px solid #0D3EBC;
	cursor: pointer;
	transition: 400ms;
}
.privat{
	background-color: #0D3EBC;
	color: white;
}
.recvisit{
	margin-left: 34px;
	color: #0D3EBC;
	background-color: #0042e900;
}



/*----------------
 	Footer
----------------*/


footer{
	width: 100%;
	height: 569px;
	margin-top: 480px;
	background-color: #0D3EBC;
}



















.none{
	background-color: #0d3fbc00;
	color: #0042e900;
	transition: 400ms;
}
.block{
	display: block;
}